body{
    background-image: url(https://media.springernature.com/full/springer-static/image/art%3A10.1038%2F494027a/MediaObjects/41586_2013_BF494027a_Figa_HTML.jpg);
}
.img{
        height: 300px;
    width: 300px;
       background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 1s;
    background-image: url(https://www.citypng.com/public/uploads/preview/white-timer-icon-transparent-background-701751695035183yjdzq3yggz.png);
}
.img:hover{
   background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(https://goodsrepublic.com/media/binary/010/441/770/10441770.jpg.webp);
}

.img-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}